.content {
    position: relative;
  }
  
.content > div {
    position: absolute;
    width: 100vw;
}

.nav {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

.navLink {
    text-decoration: none;
    text-align: center;
    display: none;
    color: black;;
    
}

.showLink {
    display: block;
}

.is-active {
    display:block;
    color: #f7bd00;
}

.footerContainer {
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    bottom: 0;
}