.home {
    /*background-image: url(../images/gs.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    filter: opacity(.6);
    height: 100vh;
    width: 95vw;*/
}

.stream {
    /*background-image: url('../images/julian.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    filter: opacity(.6);
    height: 100vh;
    width: 95vw;
    overflow: hidden;*/
}

.social {
    /*background-image: url('../images/gary.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    filter: opacity(.6);
    height: 100vh;
    width: 95vw;
    overflow: hidden;*/
}

.contact {
    /*background-image: url('../images/marlon.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    filter: opacity(.6);
    height: 100vh;
    width: 95vw;
    overflow: hidden;*/
}

.footer {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: goldenrod;
    font-size: 12px;
}

.purchaseLinks {
    display: flex;
    flex-direction: column;
}